<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Class Enrollment System</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet"> </head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="angclass.js">
</script>
<body ng-app="myApp">
    <div ng-controller="addMajorCtrl">
    <nav class="navbar navbar-default ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="#">Class Enrollment System</a> </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="edit-students.html">Edit Students</a></li>
                    <li><a href="edit-classes.html">Edit Classes</a></li>
                    <li class="active"><a href="edit-majors.html">Edit Majors</a></li>
                    <li><a href="edit-minors.html">Edit Minors</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-click="logMeOut()">Logout</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <header id="head"> </header>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                      <div class="list-group"> <a href="add-students.html" class="list-group-item"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Students
  </a> <a href="edit-students.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Students</a> <a href="delete-students.html" class="list-group-item"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Students</a> </div>
                     <div class="list-group"> <a href="add-classes.html" class="list-group-item"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Classes
  </a> <a href="edit-classes.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Classes</a> <a href="delete-classes.html" class="list-group-item"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Classes</a> </div>
                    <div class="list-group"> <a href="add-majors.html" class="list-group-item active main-color"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Majors
  </a> <a href="edit-majors.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Majors</a> <a href="delete-majors.html" class="list-group-item"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Majors</a> </div>
                    <div class="list-group"> <a href="add-minors.html" class="list-group-item"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Minors
  </a> <a href="edit-minors.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Minors</a> <a href="delete-minors.html" class="list-group-item"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Minors</a> </div>
                </div>
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading main-color">
                            <h3 class="panel-title">Add a New Major</h3> </div>
                        <div class="panel-body">
                                <form>
                                                <div class="form-group">
                                                    <label for="last-name" class="control-label">Major ID:</label>
                                                    <input type="text" class="form-control" id="uid"> </div>
                                                <div class="form-group">
                                                    <label for="user-password" class="control-label">Required Requirements:</label>
                                                    <input type="text" class="form-control" id="reqs" placeholder="Enter Requirement ID's as comma separated values. EX: 101,102"> </div>
                                            </form> <a type="button" class="btn btn-default" data-toggle="modal" data-target="#AddMajorModal" data-title=" Student" style="background-color: #d00000; color: white; float: right;" ng-click="addMajor()">Add</a>
                            <div class="modal fade" id="AddMajorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="modalLabel">Confirmation</h4> </div>
                                        <div class="modal-body">
                                            <h4 style="text-align: center;">{{message}}</h4> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
    <footer id="foot">
        <p>Copyright &copy; Team 1</p>
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>