<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Class Enrollment System</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet"> </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<script src="angclass.js">
</script>
<body ng-app="myApp">
<div ng-controller="browseCtrl">
    <nav class="navbar navbar-default ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="#">Class Enrollment System</a> </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="browse.html">Browse</a></li>
                    <li><a href="enrollment.html">Enrollment</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-click="logMeOut()">Logout</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <header id="head">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Browse <small>| Search for classes</small></h1> </div>
                <div class="col-md-2"> </div>
            </div>
        </div>
    </header>
    <!--
    <section id="breadCrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li><a class="active">Home</a></li>
            </ol>
        </div>
    </section>
-->
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group"> <a href="index.html" class="list-group-item"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
  </a> <a href="browse.html" class="list-group-item active main-color"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Browse</a> <a href="enrollment.html" class="list-group-item"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Enrollment</a> </div>
                </div>
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading main-color">
                            <h3 class="panel-title">Browse Class Catalog</h3> </div>
                        <div class="panel-heading">
                            <div class="container-fluid">
                                <div class="">
                                    <form class="navbar-form navbar-right float-right">
                                        <div class="form-group searchBar">
                                            <input type="text" class="form-control" ng-model="searchTerm" placeholder="Search"> </div>
                                        <button type="submit" class="btn btn-default searchButton" ng-click="findClasses()"style="background-color: #c43939; color: white;">Submit</button>
                                    </form>
                                    <form class="navbar-form navbar-left">
                                        <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> {{ shownReq }} <span class="caret"></span> </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li ng-repeat="x in reqs track by $index"><a ng-click="changeReq($index)">{{x['Requirement']}}</a></li> 
                                </ul>
                            </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <button ng-repeat="x in classesForReqs track by $index" type="button" class="btn-main-style" data-toggle="modal" data-target={{x['modalNameTarget']}}>{{x['ClassID']}} {{x['CourseTitle']}}</button>


                            <div ng-repeat="x in classesForReqs track by $index">
                            <div class="modal fade" id={{x['modalName']}} tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="exampleModalLabel"></h4> </div>
                                        <div id="Screen1">
                                            <div class="modal-body">
                                                <form>
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="control-label">Course Title:</label>
                                                        <p>{{x['CourseTitle']}}</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="control-label">Prerequisites:</label>
                                                        <p>{{x['PreReqIDs']}}</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="control-label">Credit Hours:</label>
                                                        <p>{{x['Credits']}}</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="control-label">Course Delivery:</label>
                                                        <p>{{x['CourseDelivery']}}</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="control-label">Description:</label>
                                                        <p>{{x['CourseDescription']}}</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="control-label" style="width: 100%; text-align: center;">Interested in this course? Click on the instructor's name to add it to your cart!</label>
                                                    </div>
                                                    <div class="form-group" style="text-align: center;">
                                                        <button ng-click="sortThisBy(0,$index)" id="professorSort" type="button" class="btn-main-style" style="width: 150px;">Filter by Professor</button>
                                                        <button ng-click="sortThisBy(1,$index)" id="timeSort" type="button" class="btn-main-style" style="width: 150px;">Filter by Time</button>
                                                    </div>
                                                    <div class="form-group">
                                                        <table border='0' cellpadding='0' cellspacing='0'>
                                                            <tr  style="color:white; background-color:#d00000;">
                                                                <td>Professor</td>
                                                                <td>Section</td>
                                                                <td >Time</td>
                                                                <td >Credits</td>
                                                                <td >Location</td>
                                                            </tr>
                                                            <tr style="color:black;" ng-repeat="y in x['ClassOfferings'] track by $index">
                                                                <td data-tooltip={{y['SeatsTaken']}}:{{y['ClassCapacity']}}><a ng-click="pleaseJosh($index,x['ClassOfferings'],x)">{{y['ClassInstructor']}}</a></td>
                                                                <td>{{y['SectionID']}}</td>
                                                                <td>{{y['ClassTime']}}</td>
                                                                <td>{{x['Credits']}}</td>
                                                                <td>{{y['ClassLocation']}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </form>                  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
    <footer style="margin-top: 200px;" id="foot">
        <p>Copyright &copy; Team 1</p>
    </footer>
</body>
</html>