<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Class Enrollment System</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet"> </head>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="angclass.js">
</script>

<body ng-app="myApp">
<div ng-controller="enrollmentCtrl">
    <nav class="navbar navbar-default ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="#">Class Enrollment System</a> </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class=""><a href="index.html">Home</a></li>
                    <li><a href="browse.html">Browse</a></li>
                    <li class="active"><a href="enrollment.html">Enrollment</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-click="logMeOut()">Logout</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <header id="head">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Enrollment <small>| Enroll in your classes</small></h1> </div>
                <div class="col-md-2"> </div>
            </div>
        </div>
    </header>
    <!--
    <section id="breadCrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li><a class="active">Home</a></li>
            </ol>
        </div>
    </section>
-->
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group"> <a href="index.html" class="list-group-item "><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
  </a> <a href="browse.html" class="list-group-item"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Browse</a> <a href="enrollment.html" class="list-group-item active main-color"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Enrollment</a> </div>
                </div>
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading main-color">
                            <h3 class="panel-title">Class Enrollment</h3> </div>
                        <div class="panel-body">
                            <div class='tab'>
                                <table border='0' cellpadding='0' cellspacing='0'>
                                    <tr class='days'>
                                        <th style="text-align: center; width: 20%;">ClassID</th>
                                        <th style="text-align: center; width: 21%;">Professor</th>
                                        <th style="text-align: center; width: 21%;">Section</th>
                                        <th style="text-align: center; width: 21%;">Time</th>
                                        <th style="text-align: center; width: 21%;">Credits</th>
                                        <th style="text-align: center; width: 21%;">Location</th>
                                        <th style="text-align: center; width: 21%;">Remove?</th>
                                    </tr>
                                    <tr ng-repeat="x in cartObjects track by $index">
                                        <td style='color: black;' class='classSelected' data-tooltip={{x['SeatsTaken']}}/{{x['ClassCapacity']}}>{{x['ClassID']}}</td>
                                        <td style='color: black;'>{{x['ClassInstructor']}}</td>
                                        <td style='color: black;'>{{x['SectionID']}}</td>
                                        <td style='color: black;'>{{x['ClassTime']}}</td>
                                        <td style='color: black;'>{{x['Credits']}}</td>
                                        <td style='color: black;'>{{x['ClassLocation']}}</td>
                                        <td style='color: #d00000;' class='classDeselected' data-toggle="modal" data-target={{x['ModalName']}} data-class=""><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td style='color: black;' class='classSelected'></td>
                                        <td style='color: black;'></td>
                                        <td style='color: black;'>Total Hours:</td>
                                        <td style='color: black;'>{{totalHours}}</td>
                                        <td style='color: black;'>
                                            <button class="btn-main-style btn-enroll" style="width:90%; text-align: center; height: 40px;" ng-click="enrollUserIntoTheseClasses()">Enroll</button>
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    
                        <div ng-repeat="x in cartObjects track by $index">
                            <div class="modal fade" id={{x['Modal']}} tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="exampleModalLabel">Remove class?</h4> </div>
                                                    <div class="modal-body">
                                                        <form>
                                                            <h5 style="text-align: center;">Do you really want to remove {{x['ClassID']}} with {{x['ClassInstructor']}}?</h5>
                                                            
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer" style="text-align: center;">
                                                        <button id="removeSelected" type="button" class="btn-main-style" style="width: 150px;" ng-click="removeThisClass($index)">Yes, Remove Class</button>
                                                        <button id="keepSelected" type="button" class="btn-main-style" style="width: 150px;" data-dismiss="modal">No, Keep Class</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    </div>
    <footer style="margin-top: 250px;" id="foot">
        <p>Copyright &copy; Team 1</p>
    </footer>

</body>

</html>