<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Class Enrollment System</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet"> </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<script src="angclass.js">
</script>
<body ng-app="myApp">
<div ng-controller="indexCtrl">
    <nav class="navbar navbar-default ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="#">Class Enrollment System</a> </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="browse.html">Browse</a></li>
                    <li><a href="enrollment.html">Enrollment</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-click="logMeOut()">Logout</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <header id="head">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home <small>| View your class schedule</small></h1> </div>
                <div class="col-md-2"> </div>
            </div>
        </div>
    </header>
    <!--
    <section id="breadCrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li><a class="active">Home</a></li>
            </ol>
        </div>
    </section>
-->
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group"> <a href="index.html" class="list-group-item active main-color"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
  </a> <a href="browse.html" class="list-group-item"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Browse</a> <a href="enrollment.html" class="list-group-item"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Enrollment</a> </div>
                    <div class="panel panel-default">
                        <div class="panel-heading main-color">
                            <h3 class="panel-title"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Term</h3> </div>
                        <div class="panel-body">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> {{ shownTerm }} <span class="caret"></span> </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li ng-repeat="x in terms track by $index"><a ng-click="changeSem($index)">{{x}}</a></li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading main-color">
                            <h3 class="panel-title">Class Enrollment</h3> </div>
                        <div class="panel-body">
                            <div class='tab'>
                                <table border='0' cellpadding='0' cellspacing='0'>
                                    <tr class='days'>

                                        <th style="text-align: center;">Class</th>
                                        <th></th>
                                        <th style="text-align: center;">Monday</th>
                                        <th style="text-align: center;">Tuesday</th>
                                        <th style="text-align: center;">Wednesday</th>
                                        <th style="text-align: center;">Thursday</th>
                                        <th style="text-align: center;">Friday</th>
                                    </tr>
                                    <tr>
                                        <td class={{classList[0].color}} data-tooltip={{classList[0].tooltip}}>{{classList[0].ClassID}} {{classList[0].grade}}
                                            <br>{{classList[0].ClassLoc}}</td>
                                        <td class='time'>8:00 AM</td>
                                        <td ng-repeat="x in am8ClassList track by $index" class={{x.color}} data-tooltip={{x.tooltip}}>{{x.ClassID}}<br>{{x.ClassLoc}}</td>
                                    </tr>
                                    <tr>
                                        <td class={{classList[1].color}} data-tooltip={{classList[1].tooltip}}>{{classList[1].ClassID}} {{classList[1].grade}}
                                            <br>{{classList[1].ClassLoc}}</td>
                                        <td class='time'>9:00 AM</td>
                                        <td ng-repeat="x in am9ClassList track by $index" class={{x.color}} data-tooltip={{x.tooltip}}>{{x.ClassID}}<br>{{x.ClassLoc}}</td>
                                    </tr>
                                    <tr>
                                        <td class={{classList[2].color}} data-tooltip={{classList[2].tooltip}}>{{classList[2].ClassID}} {{classList[2].grade}}
                                            <br>{{classList[2].ClassLoc}}</td>
                                        <td class='time'>10:00 AM</td>
                                        <td ng-repeat="x in am10ClassList track by $index" class={{x.color}} data-tooltip={{x.tooltip}}>{{x.ClassID}}<br>{{x.ClassLoc}}</td>
                                    </tr>
                                    <tr>
                                        <td class={{classList[3].color}} data-tooltip={{classList[3].tooltip}}>{{classList[3].ClassID}} {{classList[3].grade}}
                                            <br>{{classList[3].ClassLoc}}</td>
                                        <td class='time'>11:00 AM</td>
                                        <td ng-repeat="x in am11ClassList track by $index" class={{x.color}} data-tooltip={{x.tooltip}}>{{x.ClassID}}<br>{{x.ClassLoc}}</td>
                                    </tr>
                                    <tr>
                                        <td class={{classList[4].color}} data-tooltip={{classList[4].tooltip}}>{{classList[4].ClassID}} {{classList[4].grade}}
                                            <br>{{classList[4].ClassLoc}}</td>
                                        <td class='time'>12:00 PM</td>
                                        <td ng-repeat="x in pm12ClassList track by $index" class={{x.color}} data-tooltip={{x.tooltip}}>{{x.ClassID}}<br>{{x.ClassLoc}}</td>
                                    </tr>
                                    <tr>
                                        <td class={{classList[5].color}} data-tooltip={{classList[5].tooltip}}>{{classList[5].ClassID}} {{classList[5].grade}}
                                            <br>{{classList[5].ClassLoc}}</td>
                                        <td class='time'>1:00 PM</td>
                                        <td ng-repeat="x in pm1ClassList track by $index" class={{x.color}} data-tooltip={{x.tooltip}}>{{x.ClassID}}<br>{{x.ClassLoc}}</td>
                                    </tr>
                                    <tr>
                                        <td class={{classList[6].color}} data-tooltip={{classList[6].tooltip}}>{{classList[6].ClassID}} {{classList[6].grade}}
                                            <br>{{classList[6].ClassLoc}}</td>
                                        <td class='time'>2:00 PM</td>
                                        <td ng-repeat="x in pm2ClassList track by $index" class={{x.color}} data-tooltip={{x.tooltip}}>{{x.ClassID}}<br>{{x.ClassLoc}}</td>
                                    </tr>
                                    <tr>
                                        <td class={{classList[7].color}} data-tooltip={{classList[7].tooltip}}>{{classList[7].ClassID}} {{classList[7].grade}}
                                            <br>{{classList[7].ClassLoc}}</td>
                                        <td class='time'>3:00 PM</td>
                                        <td ng-repeat="x in pm3ClassList track by $index" class={{x.color}} data-tooltip={{x.tooltip}}>{{x.ClassID}}<br>{{x.ClassLoc}}</td>
                                    </tr>
                                    <tr>
                                        <td class={{classList[8].color}} data-tooltip={{classList[8].tooltip}}>{{classList[8].ClassID}} {{classList[8].grade}}
                                            <br>{{classList[8].ClassLoc}}</td>
                                        <td class='time'>4:00 PM</td>
                                        <td ng-repeat="x in pm4ClassList track by $index" class={{x.color}} data-tooltip={{x.tooltip}}>{{x.ClassID}}<br>{{x.ClassLoc}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        </div>
    <footer id="foot">
        <p>Copyright &copy; Team 1</p>
    </footer>

</body>

</html>